<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../Static/logU.css">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <h2>Registro de Usuario</h2>
            <p class="subtitle">Completa tus datos para registrarte</p>
            <form>
                <input type="text" placeholder="Nombre" required>
                <input type="email" placeholder="Email" required>
                <input type="tel" placeholder="Teléfono" required>
                <select required>
                    <option value="" disabled selected>Selecciona nivel de membresía</option>
                    <option value="bronze">Normal</option>
                    <option value="silver">Premium</option>
                    <option value="gold">VIP</option>
                </select>
                <button type="submit">Registrar</button>
            </form>
            <p class="signup-link">¿Ya tienes cuenta? <a href="#" class="signup">Iniciar sesión</a></p>
        </div>
    </div>
</body>
</html>
